/* index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
